@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-item {
    @apply cursor-pointer px-4 font-bold text-[#c8cacd] hover:text-white;
  }

  .header-icon {
    @apply cursor-pointer px-4 text-3xl font-black text-[#8a939b] hover:text-white;
  }

  .hero-button {
    @apply relative mr-5 cursor-pointer rounded-lg bg-[#363840] px-12 py-4 text-lg font-semibold text-[#e4e8ea] hover:bg-[#4c505c];
  }
}

html,
body {
  background-color: #202225;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
